<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCDRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CCDRS.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
            <div class="navbar-toggler-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse flex-column " id="navbar">

                <ul class="navbar-nav  w-100 justify-content-center px-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://dmg.utoronto.ca/">DMG</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" asp-page="/Index">CCDRS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://dmg.utoronto.ca/idrs/drsQuery/tts">TTS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://dmg.utoronto.ca/">Contact</a>
                    </li>
                    <div class="mr-2">
                        <partial name="_LoginPartial" />
                    </div>
                </ul>
            </div>
        </nav>
        <div class="titlebox w-100">
            Cordon Count Data Retrieval System (CCDRS)
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>