<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section 
			name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions">
		</section>
	</configSections>
	<connectionStrings>
		<add name="TestDBContext"
			 connectionString="Server=localhost;Port=5432;Database=ccdrsv1;User Id=postgres;Password=test123;" />
	</connectionStrings>
</configuration>