html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    color: white;
    background-color: #252830;
}


.btn-primary {
    background-color: #1ca8dd;
    color: white;

}

/* change radiobutton fill colour */
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: darkgrey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/*Change radio button fill colour when selected.*/
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1ca8dd;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* Change background color of checkboxes */
.form-check-input {
    background-color: #434857;
    border: 1px solid #434857;
}

/* Background colour of select library dropdown. */
.select2-results__option {
    color: black;
}

/* The colour of the text inside the selected value of the select2 select. */
.select2-selection__choice span {
    color: black;
}

/*To hide the survey information on page load as default feature. */
div.surveyInformationContent {
    display: none;
}