html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    color: white;
    background-color: #252830;
}


.btn-primary {
    background-color: #1ca8dd;
    color: white;
}
