@page
@model CCDRS.Pages.AllScreenlineModel
@{
}

<body>
    <h1>All Screenlines for @ViewData["RegionName"]  @ViewData["SurveyYear"] </h1>

    <div class="sitesection">
        <button type="button" class="btn btn-primary surveyInformationExpandBtn">Survey Information</button>
        <div id="demo" class="surveyInformationContent">
            @Html.Raw(ViewData["SurveyNotes"])
        </div>
    </div>

    <form method="post">
        <partial name="/Pages/Shared/_CCDRenderPartial.cshtml" />

        <input type="hidden" id="regionId" name="regionId" asp-for="RegionId"/>
        <input type="hidden" id="SelectedSurveyId" name="SelectedSurveyId" asp-for="SelectedSurveyId" />
    </form>

</body>

@section scripts{
    <script type="text/javascript">
        $(function () {
            // Buttons to show and hide the survey information
            $('.surveyInformationExpandBtn').click(function () {
                $('.surveyInformationContent').slideToggle('slow');
            });
        });
    </script>
    }