@page
@model CCDRS.Pages.SpecificScreenlineModel
@{
}
<body>
    <h1>Specific Screenline for @ViewData["RegionName"]  @ViewData["SurveyYear"] </h1>
    <form method="post">
        <div style="margin-bottom:30px; margin-top:30px">
            <select name="SelectedScreenlines" asp-items="Model.SelectedScreenlines" multiple="multiple"></select>
         </div>
        <hr class="border border-primary" />
        <partial name="/Pages/Shared/_CCDRenderPartial.cshtml" />

        <input type="hidden" id="regionId" name="regionId" asp-for="RegionId"/>
        <input type="hidden" id="SelectedSurveyId" name="SelectedSurveyId" asp-for="SelectedSurveyId" />
    </form>
</body>