@page
@model CCDRS.Pages.SpecificStationModel
@{
}

<body>
    <h1>Specific Station for @ViewData["RegionName"] @ViewData["SurveyYear"] </h1>

    <div class="sitesection">
        <button type="button" class="btn btn-primary surveyInformationExpandBtn">Survey Information</button>
        <div id="demo" class="surveyInformationContent">
            @Html.Raw(ViewData["SurveyNotes"])
        </div>
    </div>

    <form method="post">
        <div style="margin-bottom:30px; margin-top:30px">
            <select class="stationList" name="SelectedStations" asp-items="Model.StationsSelectList" multiple="multiple"></select>
        </div>
        <hr class="border border-primary" />
        <partial name="/Pages/Shared/_CCDRenderPartial.cshtml" />

        <input type="hidden" id="regionId" name="regionId" asp-for="RegionId"/>
        <input type="hidden" id="SelectedSurveyId" name="SelectedSurveyId" asp-for="SelectedSurveyId" />
    </form>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('.stationList').select2();
    });
    $(function () {
        // Buttons to show and hide the survey information
        $('.surveyInformationExpandBtn').click(function () {
            $('.surveyInformationContent').slideToggle('slow');
        });
    });
</script>
